<div class="devices-container">
  <div class="device-list">
    <div class="card-container">
      <div class="card" (click)="openDeviceDetailDialog()">
        <div class="card-content">
          <div class="icon"><mat-icon>bluetooth</mat-icon></div>
          <div class="text">
            <div class="line1">Alexa</div>
            <div class="line2">Echo Plus 2nd Gen</div>
          </div>
          <div class="logo"><img src="alexa.png" alt="Logo 1" /></div>
        </div>
      </div>
      <div class="card" (click)="openDeviceDetailDialog()">
        <div class="card-content">
          <div class="icon"><mat-icon>bluetooth</mat-icon></div>
          <div class="text">
            <div class="line1">Samsung TV</div>
            <div class="line2">Samsung Smart Amoled</div>
          </div>
          <div class="logo"><img src="smartthings.png" alt="Logo 1" /></div>
        </div>
      </div>
      <div class="card" (click)="openDeviceDetailDialog()">
        <div class="card-content">
          <div class="icon"><mat-icon>bluetooth</mat-icon></div>
          <div class="text">
            <div class="line1">Sony Speaker</div>
            <div class="line2">Sony Smart-Viera</div>
          </div>
          <div class="logo"><img src="sony.png" alt="Logo 1" /></div>
        </div>
      </div>
    </div>
    <div class="add-device">
      <mat-icon>add_circle_outline</mat-icon>
    </div>
  </div>

  <mat-divider vertical="true"></mat-divider>

  <div class="old-devices-section">
    <h2 class="old-devices-title">Old Devices</h2>
    <div class="old-devices-container">
      <div class="old-device bg-opacity-10">Alexa Echo 1st gen</div>
      <div class="old-device bg-opacity-15">Chrome Cast 2nd generation</div>
      <div class="old-device bg-opacity-10">TV Sony smart viera</div>
      <div class="old-device bg-opacity-15">Light multicolor 100 lum</div>
      <div class="old-device bg-opacity-10">Light multicolor 100 lum</div>
    </div>

    <div class="info-section">
      <h3>See more information about:</h3>
      <div class="info-icons">
        <div class="info-item">
          <img class="info-images" src="chromecast.png" alt="Chromecast" />
          <span>Chromecast</span>
        </div>
        <div class="info-item">
          <img class="info-images" src="alexa.png" alt="Alexa AWS" />
          <span>Alexa</span>
        </div>
        <div class="info-item">
          <img class="info-images" src="smartthings.png" alt="Smart Things" />
          <span>Smart<br>Things</span>
        </div>
        <div class="info-item">
          <img class="info-images" src="https://upload.wikimedia.org/wikipedia/commons/d/d0/Siri.png" alt="Siri" />
          <span>Siri</span>
        </div>
        <div class="info-item">
          <img class="info-images" src="sonos.png" alt="Sonos" />
          <span>Sonos</span>
        </div>
        <div class="info-item">
          <img class="info-images" src="dolby.png" alt="Dolby Atmos" />
          <span>Dolby<br>Atmos</span>
        </div>
      </div>
    </div>
  </div>
</div>
