.page-navebar {
    display: none;
}

.row {
    width: 100%;
}

.column {
    float: left;
    width: 50%;
}

.login-actions {
    width: 100%;
    text-align: center;
}

.login-form-container{
    text-align: center;
    margin-top: 20%;
}

.qr-login-page {
    width: 450px;
    height: 450px;
}


.login-option-container {
    width: 100%;
    justify-content: center;
    
}

.mat-mdc-unelevated-button.login-button {
    background-color: #0093AE;
    color: white;
}