<div class="row">
    <div class="column">
        <div class="login-form-container">
            <div calss="login-form-field">
                    <mat-form-field appearance="fill">
                      <mat-label>Email</mat-label>
                      <input matInput placeholder="Placeholder">
                      <mat-icon matSuffix>cancel</mat-icon>
                    </mat-form-field>
            </div>
            <br>
            <div class="password-form-field">
                    <mat-form-field appearance="fill">
                      <mat-label>Password</mat-label>
                      <input matInput placeholder="Placeholder">
                      <mat-icon matSuffix>cancel</mat-icon>
                    </mat-form-field>
            </div>
        </div>
    </div>
    <div class="column">
        <img 
            class="qr-login-page"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/QR_code_for_mobile_English_Wikipedia.svg/800px-QR_code_for_mobile_English_Wikipedia.svg.png"
            alt="logo">
    </div>
<div class="row">
    <div class="column login-actions">
        <div class="login-option-container">
            <div class="button-sign-in">
                <button
                    mat-flat-button class="login-button"
                    routerLink="/home"
                >
                    Login
                </button>
            </div>
            <br>
            <div>
                <a routerLink="/sign-up">Sign up!</a>
            </div>
        </div>
    </div>
</div>