<body>
<mat-toolbar class="page-navbar">
  <div class="row">
    <div class="column">
      <div class="nav-bar-options">
        <a href="/home">Calendar </a>
        <a href="/home">Set Alarm </a>
        <a href="/devices">Devices </a>
        <a href="/profile">Profile </a>
      </div>    
    </div>
    <div class="column">
      <div class="app-title-container">
        <h1 class="app-title">Wake-App</h1>
      </div>
      
    </div>
    <div class="column">
      <div class="nav-bar-buttons">
        <button mat-flat-button class="qr-button" >
          QR
        </button>
        <button
          mat-flat-button class="log-out-button"
          routerLink="/sign-in"  
        >
          Log Out
        </button>
      </div>
    </div>
  </div>
</mat-toolbar>

<router-outlet />

</body>
