<body>
<mat-toolbar>
  <div class="row">
    <div class="column">
      <div class="nav-bar-options">
        <a href="/home">Calendar </a>
        <a href="/home">Set Alarm </a>
        <a href="/home">Devices </a>
        <a href="/home">Profile </a>
      </div>    
    </div>
    <div class="column">
      <div class="app-title-container">
        <h1 class="app-title">Wake-Up App</h1>
      </div>
      
    </div>
    <div class="column">
      <div class="nav-bar-buttons">
        <button mat-flat-button class="qr-button" >
          QR
        </button>
        <button mat-flat-button class="log-out-button">
          Log Out
        </button>
      </div>
    </div>
  </div>
</mat-toolbar>

<router-outlet />

</body>
