.profile-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 20px;
}

.profile-photo {
    width: 20%;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 108px;
}

.photo-placeholder img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.profile-form {
    margin-top: 5%;
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.profile-form mat-form-field {
    margin-bottom: 30px;
}

.services-section {
    margin-top: 20px;
}

.services {
    display: flex;
    align-items: flex-start;
    gap: 8px;
}

.profile-form mat-form-field mat-hint {
    color: #49454F;
}

.big-icon {
    transform: scale(3);
}

.services-header {
    display: flex;
    align-items: center;
    gap: 48px;
}

.icon-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    margin-right: 32px;
}

.icon-description {
    text-align: center;
}


